/*
========================================================================================
    Nextflow config file for running tests for FASTA_FASTQ_CLUST subworkflow
========================================================================================
*/

process {
    withName: VSEARCH_CLUSTER {
        ext.args3 = "--uc"
    }

    withName: CDHIT_CDHITEST {
        ext.args = "-d 50 -c 0.81 -mask rRyYkKsSwWmMbBdDhHvVnN"
    }

    // withName: MMSEQS_LINCLUST {
    //     ext.args =""
    // }

    // withName: MMSEQS_CLUSTER {
    //     ext.args = ""
    // }

    // withName: VRHYME_VRHYME {
    //     ext.args = ""
    // }

    withName: MASH_DIST {
        ext.args = "-i"
    }
}
