/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Joon-Klaps/viralgenie -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test failed mapped profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with a non mat external reference'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = "${projectDir}/assets/samplesheet.csv"
    outdir    = "testing"
    metadata      = "${projectDir}/assets/test_metadata.tsv"

    skip_complexity_filtering   = false
    trim_tool                   ='fastp'
    host_k2_db                  = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/kraken2/kraken2_hs22.tar.gz'
    skip_assembly               = true

    skip_metagenomic_diversity  = true
    reference_pool              = "https://raw.githubusercontent.com/nextstrain/nextclade_data/release/data/datasets/sars-cov-2/references/MN908947/versions/2021-06-25T00%3A00%3A00Z/files/sequences.fasta"
    mapping_sequence            = "https://raw.githubusercontent.com/nextstrain/nextclade_data/master/data/community/dnanto/adenovirus/hadv-a/12/reference.fasta"

    min_mapped_reads            = 100
    skip_checkv                 = true
}

process {
    maxRetries    = 1
}
