/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run Joon-Klaps/viralgenie -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name        = 'UMI test profile'
    config_profile_description = 'UMI test dataset to check pipeline function for reads with unique molecular identifiers (UMIs)'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = "${projectDir}/assets/samplesheet.csv"
    outdir    = "testing"
    metadata  = "${projectDir}/assets/test_metadata.tsv"

    skip_complexity_filtering   = false
    trim_tool                   ='fastp'
    with_umi                    = true
    skip_umi_extract            = false
    host_k2_db                  = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/kraken2/kraken2_hs22.tar.gz'
    assemblers                  ='spades'

    skip_metagenomic_diversity  = true
    save_databases              = true
    skip_bracken                = false
    skip_kaiju                  = true
    reference_pool              = "https://github.com/Joon-Klaps/nextclade_data/raw/old_datasets/data/nextstrain/sars-cov-2/MN908947/sequences.fasta"
    mapping_sequence            = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta"


    save_intermediate_polishing = true
    get_intermediate_stats      = true
    min_mapped_reads            = 100
    skip_checkv                 = true
}

process{
    withName: UMITOOLS_EXTRACT {
        ext.args = '--bc-pattern="NNNN"'
    }
    maxRetries    = 1
}
