/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Joon-Klaps/viralgenie -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test failed reference pool database profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with a reference pool without matches'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = "${projectDir}/assets/samplesheets/samplesheet.csv"
    outdir    = "testing"
    metadata  = "${projectDir}/assets/samplesheets/metadata_test.tsv"

    skip_complexity_filtering   = false
    trim_tool                   ='fastp'
    skip_hostremoval            = true
    assemblers                  ='spades'
    skip_iterative_refinement   = true

    skip_read_classification  = true
    kaiju_db                    = "https://kaiju-idx.s3.eu-central-1.amazonaws.com/2023/kaiju_db_viruses_2023-05-26.tgz"
    reference_pool              = "https://raw.githubusercontent.com/Joon-Klaps/nextclade_data/old_datasets/data/nextstrain/ebola/zaire/sequences.fasta"

    skip_variant_calling        = true
    intermediate_mapping_stats      = true
    skip_checkv                 = true
}

process {
    maxRetries    = 1
}
