/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Joon-Klaps/viralgenie -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = "${projectDir}/assets/samplesheets/samplesheet.csv"
    outdir    = "testing"
    metadata  = "${projectDir}/assets/samplesheets/metadata_test.tsv"

    skip_complexity_filtering   = false
    trim_tool                   = 'fastp'
    assemblers                  = 'spades,megahit'
    skip_sspace_basic           = false
    host_k2_db                  = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/kraken2/kraken2_hs22.tar.gz'

    skip_read_classification    = true
    save_databases              = true
    kaiju_db                    = "https://kaiju-idx.s3.eu-central-1.amazonaws.com/2023/kaiju_db_viruses_2023-05-26.tgz"

    reference_pool              = "https://github.com/Joon-Klaps/nextclade_data/raw/old_datasets/data/nextstrain/sars-cov-2/MN908947/sequences.fasta"
    mapping_constrains          = "${projectDir}/assets/samplesheets/mapping_constrains.csv"
    reference_pools             = "${projectDir}/assets/samplesheets/reference_pool.tsv"

    save_intermediate_polishing = true
    intermediate_mapping_stats  = true
    min_mapped_reads            = 100
    skip_checkv                 = true
    iterative_refinement_cycles = 1
}

process {
    maxRetries    = 1
}
