/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Joon-Klaps/viralgenie -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test failed reference pool database profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with a reference pool without matches'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = "${projectDir}/assets/samplesheet.csv"
    outdir    = "testing"
    metadata  = "${projectDir}/assets/test_metadata.tsv"

    host_genome                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    skip_complexity_filtering   = false
    trim_tool                   ='fastp'
    assemblers                  ='spades'
    skip_iterative_refinement   = true

    skip_metagenomic_diversity  = true
    reference_pool              = "https://raw.githubusercontent.com/nextstrain/nextclade_data/master/data/nextstrain/ebola/zaire/sequences.fasta"
    mapping_sequence            = null

    skip_variant_calling        = true
    skip_checkv                 = true
}

process {
    maxRetries    = 1
}
