/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralmetagenome -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    // Input data
    input                       = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/samplesheet.csv'
    outdir                      = "testing"
    metadata                    = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/metadata_test.tsv'

    skip_complexity_filtering   = false
    trim_tool                   = 'fastp'
    assemblers                  = 'spades,megahit'
    host_k2_db                  = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_hs22.tar.gz'

    merge_reads                 = true
    skip_read_classification    = true
    save_databases              = false
    kaiju_db                    = params.pipelines_testdata_base_path + 'viralmetagenome/db/kaiju.tar.gz'
    kraken2_db                  = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_bracken.tar.gz'
    reference_pool              = params.pipelines_testdata_base_path + 'viralmetagenome/db/sarscov2.fasta'
    mapping_constraints         = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/mapping_constraints.csv'
    annotation_db               = params.pipelines_testdata_base_path + 'viralmetagenome/db/virosaurus90_vertebrate-20200330.subset.fas.gz'

    save_intermediate_polishing = true
    intermediate_mapping_stats  = false
    min_mapped_reads            = 100
    deduplicate                 = false
    skip_checkv                 = true
    iterative_refinement_cycles = 1
}

process {
    maxRetries = 1
}
