/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralmetagenome -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}


params {
    config_profile_name         = 'Test group profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function when combining samples of the same group'

    // Input data
    input                       = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/samplesheet_group.csv'
    outdir                      = "testing"

    skip_complexity_filtering   = false
    trim_tool                   = 'fastp'
    assemblers                  = 'megahit'
    skip_sspace_basic           = true
    host_k2_db                  = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_hs22.tar.gz'

    skip_read_classification    = true
    merge_reads                 = true

    save_databases              = true
    kaiju_db                    = params.pipelines_testdata_base_path + 'viralmetagenome/db/kaiju.tar.gz'
    kraken2_db                  = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_bracken.tar.gz'
    reference_pool              = params.pipelines_testdata_base_path + 'viralmetagenome/db/sarscov2.fasta'
    mapping_constraints         = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/mapping_constraints_group.csv'
    annotation_db               = params.pipelines_testdata_base_path + 'viralmetagenome/db/sarscov2-uk-ncbi-virus.fasta.gz'
    annotation_metadata         = params.pipelines_testdata_base_path + 'viralmetagenome/db/sarscov2-uk-ncbi-virus.metadata.csv'

    save_intermediate_polishing = true
    intermediate_mapping_stats  = false
    min_mapped_reads            = 100
    deduplicate                 = false
    keep_unmapped               = true // covers the opt-out path; the default filter is asserted by -profile test
    skip_checkv                 = true
    skip_vcf_annotation         = true
    iterative_refinement_cycles = 1
    normalise_reads             = true
    arguments_bbnorm            = 'target=10000 min=1' // setting it high for stable snapshots
}

process {
    maxRetries = 1

    // BBNorm sets -Xmx to 95% of task.memory, and process_medium resolves to the
    // 15 GB resourceLimit which the CI runner does not actually have free -- the
    // JVM then gets OOM-killed (exit 137). The test data needs a fraction of this.
    withName: BBMAP_BBNORM {
        memory = 4.GB
    }
}
