/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralmetagenome -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test failed mapped profile'
    config_profile_description = "Minimal test dataset to check pipeline function with a mapping constraints that don't match the samples"

    // Input data
    input                      = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/samplesheet.csv'
    outdir                     = "testing"
    metadata                   = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/metadata_test.tsv'

    skip_complexity_filtering  = false
    trim_tool                  = 'fastp'
    skip_hostremoval           = true
    skip_assembly              = true

    skip_read_classification   = true
    kaiju_db                   = params.pipelines_testdata_base_path + 'viralmetagenome/db/kaiju.tar.gz'
    kraken2_db                 = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_bracken.tar.gz'
    reference_pool             = params.pipelines_testdata_base_path + 'viralmetagenome/db/sarscov2.fasta'
    mapping_constraints        = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/mapping_constraints_fail.tsv'
    annotation_db              = params.pipelines_testdata_base_path + 'viralmetagenome/db/virosaurus90_vertebrate-20200330.subset.fas.gz'

    min_mapped_reads           = 100
    intermediate_mapping_stats = true
    skip_checkv                = true
}

process {
    maxRetries = 1
}
