/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/viralmetagenome -profile test_umi,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'UMI test profile'
    config_profile_description  = 'UMI test dataset to check pipeline function for reads with unique molecular identifiers (UMIs)'

    // Input data
    input                       = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/samplesheet.csv'
    outdir                      = "testing"
    metadata                    = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/metadata_test.tsv'

    skip_complexity_filtering   = false
    trim_tool                   = 'fastp'
    with_umi                    = true
    skip_umi_extract            = false
    umi_deduplicate             = 'both'
    skip_hostremoval            = true
    skip_read_classification    = true

    skip_polishing              = true
    skip_sspace_basic           = true
    assemblers                  = 'spades'

    save_databases              = false
    annotation_db               = params.pipelines_testdata_base_path + 'viralmetagenome/db/virosaurus90_vertebrate-20200330.subset.fas.gz'
    mapping_constraints         = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/mapping_constraints.csv'
    kraken2_db                  = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_bracken.tar.gz'
    kaiju_db                    = params.pipelines_testdata_base_path + 'viralmetagenome/db/kaiju.tar.gz'

    save_intermediate_reads     = false
    intermediate_mapping_stats  = false

    min_mapped_reads            = 100
    skip_checkv                 = true
    skip_vcf_annotation         = true
    skip_consensus_qc           = true

    arguments_fastp             = '--dedup --dup_calc_accuracy 2'
    arguments_umitools_extract  = '--bc-pattern="NNNN"'
}
