/* :root {
  --md-primary-fg-color: #ee0f0f;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;
} */
:root {
  --md-primary-fg-color: #4a6c6f;
  --md-primary-fg-color--light: #4a6c6f;
  --md-accent-fg-color--light: #4a6c6f;

  mark.critic.block {
    background-color: #4a6c6f;
  }

  .md-nav {
    margin-bottom: 0.9rem;
  }

  .center {
    display: block;
    margin: 0 auto;
  }

  [dir="ltr"] .md-nav--secondary .md-nav__list {
    padding-left: 1rem;
  }
  .md-typeset .admonition,
  .md-typeset details {
    font-size: 0.77rem;
  }

  /* Bigger table font size */
  .md-typeset table:not([class]) {
    font-size: 0.7rem;
  }

  /* @media only screen and (min-width: 76.25em) {
    .parameters .md-main__inner {
      max-width: none;
    }
    .parameters .md-sidebar--primary {
      left: 0;
    }
    .parameters .md-sidebar--secondary {
      right: 0;
      margin-left: 0;
      -webkit-transform: none;
      transform: none;
    }
  } */
}

[data-md-color-scheme="slate"] {
  --md-hue: 210;
  --md-primary-fg-color: #6a7cf8;
  --md-primary-fg-color--dark: #6a7cf8;
  --md-accent-fg-color--dark: #6a7cf8;

  mark.critic.block {
    background-color: #6a7cf8;
    color: white;
  }
}
