/*
========================================================================================
    Nextflow config file for running tests for PREPROCESSING_ILLUMINA subworkflow
========================================================================================
*/

process {

    withName: UMITOOLS_EXTRACT {
        ext.args = '--bc-pattern="NNNN" --bc-pattern2="NNNN"'
    }

    withName: TRIMMOMATIC {
        ext.args = params.arguments_trimmomatic ?: ''
    }

    withName: FASTP {
        ext.args = params.arguments_fastp ?: ''
    }

    withName: HUMID {
        ext.args = ''
    }

    withName: BBMAP_BBDUK {
        ext.args = 'entropy=0.3 entropywindow=50 entropyk=5'
    }

    withName: PRINSEQPLUSPLUS {
        ext.args = '-lc_entropy=0.5 -lc_dust=0.5'
    }

    withName: KRAKEN2_HOST_REMOVE {
        ext.args = '--minimum-hit-groups 3'
    }

    withName: CAT_FASTQ {
        ext.prefix = { "${meta.id}.merged" }
    }

}
